<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark"
		th:fragment="header(activeLink)">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/inicio"
						th:style="${#strings.equals(activeLink, 'inicio')}? 'color:white' : ''"
						th:text="#{navbar.inicio}"></a></li>
					<li class="nav-item"><a class="nav-link" href="/trabajos"
						th:style="${#strings.equals(activeLink, 'trabajos')}? 'color:white' : ''"
						th:text="#{navbar.experiencia.laboral}"></a></li>
					<li class="nav-item"><a class="nav-link" href="/estudios"
						th:style="${#strings.equals(activeLink, 'estudios')}? 'color:white' : ''"
						th:text="#{navbar.estudios}"></a></li>
					<li class="nav-item"><a class="nav-link" href="/cursos"
						th:style="${#strings.equals(activeLink, 'cursos')}? 'color:white' : ''"
						th:text="#{navbar.cursos}"></a></li>
					<li class="nav-item"><a class="nav-link"
						th:style="${#strings.equals(activeLink, 'certificaciones')}? 'color:white' : ''"
						href="/certificaciones" th:text="#{navbar.certificaciones}"></a></li>
						<li class="nav-item"><a class="nav-link"
						th:style="${#strings.equals(activeLink, 'contacto')}? 'color:white' : ''"
						href="/contacto" th:text="#{navbar.contacto}"></a></li>

				</ul>
				<ul  sec:authorize="hasRole('ADMINISTRADOR')" class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/privado/contacto"
						th:style="${#strings.equals(activeLink, 'contactoprivado')}? 'color:white' : ''"
						th:text="#{navbar.privado.ver.contacto}"></a></li>


				</ul>
			</div>
		</div>
	</nav>


</body>
</html>