<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.png}">
<script th:src="@{/js/bootstrap.bundle.min.js} "></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>

	<div th:replace="~{fragments/header :: header(trabajos)}"></div>

	<div class="container">
		<div class="main-timeline">

			<div th:each="trabajo, iStat : ${listTrabajos}">

				<!-- start experience section-->
				<div th:if="${iStat.count % 2 !=0 }" class="timeline">
					<div class="icon"></div>
					<div class="date-content">
						<div class="date-outer">
							<span class="date"> <span class="month"
								th:text="${trabajo.duracionTrabajo}"></span> <span class="year"
								th:text="${trabajo.anosTrabajo}"></span>
							</span>
						</div>
					</div>
					<div class="timeline-content">
						<h5 class="title"
							th:text="${trabajo.nombre+ ' - '+trabajo.empresaNombre}"></h5>
						<b class="card-title" th:text="${trabajo.lugarDeTrabajo}"></b>
						<p class="description" th:text="${trabajo.observaciones}"></p>
						<b th:if="${trabajo.listTrabajoTarea.size >0}" class="card-title"
							th:text="#{tareas}"></b>
						<ul>
							<li th:each="tarea : ${trabajo.listTrabajoTarea}"
								class="li-trabajo-tarea" th:text="${tarea.nombre}">
						</ul>
						<b class="card-title" th:text="#{aptitudes}"></b>
						<p class="description"
							th:each="habilidad : ${trabajo.listHabilidad}"
							th:text="${habilidad.nombre}"></p>
					</div>
				</div>
				<!-- end experience section-->
				<div style="color: white" th:text="${iStat.count % 2 ==0 }"></div>
				<!-- start experience section-->
				<div th:if="${iStat.count % 2 ==0 }" class="timeline">
					<div class="icon"></div>
					<div class="date-content">
						<div class="date-outer">
							<span class="date"> <span class="month"
								th:text="${trabajo.duracionTrabajo}"></span> <span class="year"
								th:text="${trabajo.anosTrabajo}"></span>
							</span>
						</div>
					</div>
					<div class="timeline-content">
						<h5 class="title"
							th:text="${trabajo.nombre+ ' - '+trabajo.empresaNombre}"></h5>
						<b class="card-title" th:text="${trabajo.lugarDeTrabajo}"></b>
						<p class="description" th:text="${trabajo.observaciones}"></p>
						<b th:if="${trabajo.listTrabajoTarea.size >0}" class="card-title"
							th:text="#{tareas}"></b>
						<ul>
							<li th:each="tarea : ${trabajo.listTrabajoTarea}"
								class="li-trabajo-tarea" th:text="${tarea.nombre}">
						</ul>
						<b class="card-title" th:text="#{aptitudes}"></b>
						<p class="description"
							th:each="habilidad : ${trabajo.listHabilidad}"
							th:text="${habilidad.nombre}"></p>
					</div>
				</div>
				<!-- end experience section-->
			</div>
		</div>
	</div>

	<section class="section gray-bg" id="resume"
		style="background-image: url('/img/fondo_ciberseguridad.jpg')">

	</section>

	<i class="bi bi-list"></i>

	<div th:replace="~{fragments/footer :: footer}"></div>


</body>
</html>